@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Carter One', cursive;
}

a:hover {
    cursor: pointer;
    opacity: 0.5;
}

input:hover {
    opacity: 0.5;
}

textarea:hover {
    opacity: 0.5;
}

.head-container {
    text-align: center;
}

.user-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
}

.button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto 20px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.add-button {
    width: 10%;
}

.filter {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
}

.filter:hover {
    cursor: pointer;
    opacity: 0.5;
}

.site-button {
    width: 10%;
}

.delete-button {
    width: 10%;
    color: white;
    background-color: red;
}

.error-box {
    position: relative;
    color: black;
    background-color: red;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: bold;
    width: 75%;
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem black;
}

.error-box * {
    display: inline-block;
}

.error-content {
    padding: 10px;
}

#close-button {
    position: absolute;
    display: block;
    background: none;
    border: none;
    font-size: 1rem;
    padding: 0.1rem .1rem 0rem 0rem;
    height: 1.5rem;
    width: 1.5rem;
    top: .2rem;
    right: .2rem;
}

.bookmark-container {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto 15px;
}

.bookmark {
    border: 1px solid black;
    border-radius: 10px;
}

.bookmark-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bookmark-head:hover {
    cursor: pointer;
    opacity: 0.5;
}

.bookmark-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.add-bookmark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.add-bookmark > input {
    border: 1px solid black;
}

.add-bookmark > textarea {
    border: 1px solid black;
}

.txt-center {
    text-align: center;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1rem;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

.fa-star {
    font-size: 1.6rem;
}

.checked {
    color: #FFD700;
}

.hidden {
    display: none;
}

@media screen and (min-width: 1100px) {
    .bookmark-container {
        margin: auto 100px;
    }
}

@media screen and (max-width: 767px) {
    .add-button {
        width: 20%;
    }

    .filter {
        width: 20%;
    }

    .site-button {
        width: 20%;
    }

    .delete-button {
        width: 20%;
    }
}